.OrderPage{
    width: 100%;
}
.OrderContent{
    width: 360px;
    margin: 0 auto;
}
.OrderContent h2{
    width: 205px;
    margin-bottom: 20px;
    border-bottom: 1px solid gray;

}
.OrderContent h3{
    margin-bottom: 10px;
    font-family: 'Pretendard-Regular';

}
.OrderInfo h3{
    font-family: 'Pretendard-Regular';

}
.OrderContent table{
    border-collapse:collapse ;
    border: 1px solid rgb(235, 232, 232);
    box-sizing: border-box; /* 너비에 padding과 border를 포함하도록 설정 */
    width: 100%;
}
.OrderContent table td{
    box-sizing: border-box; /* 너비에 padding과 border를 포함하도록 설정 */
    border: 1px solid rgb(235, 232, 232);

    
    font-family: 'Pretendard-Regular';
    padding: 5px 3px 5px 3px;

}
.OrderTitle{
    box-sizing: border-box; /* 너비에 padding과 border를 포함하도록 설정 */

    width: 45% ;
}
.OrderInput{
    box-sizing: border-box; /* 너비에 padding과 border를 포함하도록 설정 */
    font-family: 'Pretendard-Regular';
    width: 55% ;
}
.OrderInput input{
    font-family: 'Pretendard-Regular';
}
.OrderInput select{
    width: 100%;
    font-family: 'Pretendard-Regular';

}
.OrderInput select option{
    width: 100%;
    font-family: 'Pretendard-Regular';

}
.OrderInput textarea {
    height: 50px;
    width: 100%;
    margin-top: 5px;
    box-sizing: border-box; /* 텍스트 에어리어의 폭을 테두리와 패딩을 포함한 값으로 지정 */
    font-family: 'Pretendard-Regular';

  }
  
.MT{
    margin-top: 10px;

}
#MT2{
    
    float: left;
}
.ProductInfo{
    float: left;
    width: 100%;
    border: 1px solid rgb(235, 232, 232);
    padding: 5px 0px 5px 5px;
}
.ProductInfo img{
    float: left;
    width: 75px;
    height: 80px;
    background-color: red;
    margin-right: 10px;
}
.ProductInfoText p{
    font-family: 'Pretendard-Regular';
    font-size: 14px;
    line-height: 20px;
}
.PaymentType table td{
    text-align: center;
    height: 35px;
    cursor: pointer;
}
.Agree table{
    width: 100%;
}
.Agree table td img{
    float: right;
    width: 30px;
}
.Agree table td {
    text-align: left;
    padding-left: 15px;

}
.Agree table td span{
    font-family: 'Pretendard-Regular';
    line-height: 35px;
}
.Agree table td input{
    position: relative;
    top:2px;
}

@keyframes slideIn {
    from {
      height: 50px;
      opacity: 0;
    }
    to {
      height: 150px;
      opacity: 1;
    }
  }
  
  @keyframes slideOut {
    from {
      height: auto;
      opacity: 1;
    }
    to {
      height: 0;
      opacity: 0;
    }
  }

.Terms{
    float: left;
    width: 100%;
    animation: slideIn 0.3s ease-in-out forwards;

}
.Terms.visible {

}
.Terms.hidden {
    opacity: 1 !important;
    height: 1000px !important;
    animation: slideOut 0.5s ease-in-out forwards;
    
}
.Terms p{

    font-family: 'Pretendard-Regular' !important;

}

.Personal{
    width: 100%;
    float: left;
    animation: slideIn 0.3s ease-in-out forwards;
}
.Personal p{
    font-family: 'Pretendard-Regular' !important;

}

.Personal.hidden {
    
    animation: slideOut 10s ease-in-out forwards;
}

.CB{
    float: left;
    margin-bottom: 30px;
}
.Buy{
    margin-top: 10px;
    width: 100%;
    height: 50px;
    margin-bottom: 40px;
    background-color: black;
    color:white;
    font-family: 'Pretendard-Regular' !important;
    font-size: 16px;
}
.Agree span{
    margin-left: 5px;
    
}
.Agree {
    margin-bottom: 20px;
    margin-top: 15px;
}
