@media screen and (max-width:999px) and (min-width:601px)
{
    .BR{
        height: auto !important;
        margin-bottom: 30px;
    }
    .ReviewBox{
        height: 85px !important;
        width: 290px !important;
        margin-right: 10px !important;
        float: left !important;
        margin-left: 0 !important;
        margin-bottom: 5px !important;
    }
    .ReviewBox img{
        margin-top: 5px;
        margin-left: 0 !important;
        width: 40px !important;
        height: 50px !important;
        float: left !important;
    }
    .NickName{
        margin-left: 0% !important;
        font-size: 14px !important;
    }
    .ProductName{
        margin-left: 5% !important;
        margin-top: 5px;
        font-size: 12px;
    }

    .ReviewBox .NickName{
        font-weight: bold;
        font-size: 14px !important;
        width: 50% !important;
        height: 15px !important;
    }
    .Date{
        font-size: 12px !important;
        width: 40% !important;
        line-height: 16px !important;
        margin: 0 !important;
        float: right !important; 
        
    }
    .Coment{
        
        font-size: 12px !important;
        margin-left: 10px !important;
    }
}

@media screen and (max-width:600px){
    .BR{
        height: auto !important;
        margin-bottom: 30px;
    }
    .ReviewBox{
        width: 100% !important;
        height: 100px !important;
        padding: 0 !important;
        margin-bottom: 10px !important;
        position: relative;
    }
    .NickName{
        position: absolute;
        top: 11px;
        left: 50px;
        width: 30% !important;
        font-size: 12px !important;
    }
    .Date{
        position: absolute;
        right: 0;
    }
    .ReviewBox img{
        padding-top: 6px !important;
        position: relative;
        left: 5px;
        width: 50px !important;
        height: 60px !important;
        float: left !important;
        margin-left: 0 !important;
        top: 0 !important;
        margin-top: 0 !important;
    }
    .ProductName{
        width: 100% !important;
        position: absolute;
        top: 30px;
        left: 57px;
        font-size: 12px !important;
    }
    .size{
        position: absolute !important;
        top: 46px !important;
        left: 64px;
        font-size: 12px !important;
    }
    .Coment{
        position: absolute;
        
        font-size:12px !important;
        left: 60px !important;
        bottom: 60px;
        margin-top: 2.5px !important;
        
    }
    .Date{
        font-size: 10px !important;
    }
}
.BR{
    width: 100%;
    float: left ;
    height: auto !important;

}

.BasicReview{
    width: 100%;
    float: left;
}
.BasicReview .NickName{
    width: 46%;
    float: left;
    font-weight: bold;

    margin-left: 4%;
}
.Date{
    width: 46%;
    text-align: right;
    margin-right: 4% ;
}

.ReviewBox img{
    width: 80px;
    height: 100px;
    float: left;
    margin-left: 4%;
}
.ReviewBox p{
    font-family: 'Pretendard-Regular' !important;
    float: left;
}
.ProductName{
    margin-left: 2%;
    margin-right: 2%;
    
}


.Size{
    
    text-align: right;
}

.Coment{
    margin-left: 2%;
    margin-right: 2%;
    font-size: 14px;
    width: 55%;
    
    float: left;
}

.ReviewBox {
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;    
    padding: 5px !important;
    height: 145px;
    float: left;
    margin-top: 10px;
    padding-bottom: 15px;
    margin-bottom: 30px;
    margin-left: 10px;
    box-sizing: border-box;
    width: 320px;
    
    
}
.NoReivewBox{
    height: 80px;
}

  
.NoReview{
    margin-top: 20px;
    text-align: center;
    font-family: 'Pretendard-Regular';
}