@media screen and (max-width:999px) and (min-width:601px)
{
    .ReviewBox{
        height: 75px !important;

    }
    .ReviewBox img{
        margin-top: 5px;
        width: 30px !important;
        display: none;
        height: 40px !important;
    }
    .NickName{
        margin-left: 5% !important;

    }
    .ProductName{
        margin-left: 5% !important;
        margin-top: 5px;
        font-size: 12px;
    }
    .ReviewBox{
        width:100% !important;
        margin-right: 100px !important
    }
    .ReviewBox .NickName{
        font-weight: bold;
        font-size: 14px !important;
    }
    .Date{
        font-size: 12px !important;
        width: 40% !important;
        line-height: 16px !important;
    }
    .Coment{
        font-size: 12px !important;
    }
}

@media screen and (max-width:600px){
    .ReviewBox{
        width: 100% !important;
        height: 100px !important;
        padding: 0 !important;
        margin-bottom: 10px !important;
        position: relative;
    }
    .NickName{
        position: absolute;
        top: 8px;
        left: 70px;
        width: 30% !important;
    }
    .Date{
        position: absolute;
        right: 0;
    }
    .ReviewBox img{
        padding-top: 6px !important;
        position: relative;
        left: 0;
        width: 50px !important;
        height: 60px !important;
        float: left !important;
    }
    .ProductName{
        width: 100% !important;
        position: absolute;
        top: 30px;
        left: 70px;
    }
    .size{
        position: absolute !important;
        top: 46px !important;
        left: 75px;
    }
    .Coment{
        position: absolute;
        top:70px
    }
}
.BR{
    width: 100%;
    float: left ;
    height: 300px;
}

.BasicReview{
    
    width: 100%;
    float: left;
}
.BasicReview .NickName{
    width: 46%;
    float: left;
    margin-left: 4%;
}
.Date{
    width: 46%;
    text-align: right;
    margin-right: 4% !important;
}
.ReviewBox{
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;    
    padding: 5px !important;
    height: 125px ;
    margin-top: 10px ;
    padding-bottom: 10px;
    margin-bottom: 30px;
}
.ReviewBox img{
    width: 80px;
    height: 100px;
    float: left;
    margin-left: 4%;
}
.ReviewBox p{
    font-family: 'Pretendard-Regular' !important;
    float: left;
}
.ProductName{
    margin-left: 2%;
    margin-right: 2%;
}


.Size{
    text-align: right;
}

.Coment{
    margin-left: 2%;
    margin-right: 2%;
    font-size: 14px;
    width: 55%;
    float: left;
}
.Slider{
    float: left;
    width: 100%;
    height: 160px !important;
}
