@media screen and (max-width:999px) and (min-width:601px)
 {

    .DetailBox{
        width: 600px !important;
        margin: 0 auto;
        margin-top: 50px;
        height: 600px;
    }
    .DetailBox table{
        font-size: 18px;
    }
    .ClosetName{
        margin: 0 !important;
        margin-top: 10px !important;
        font-size: 18px !important;
        margin-bottom: 5px !important;
    }
    .ImgBox{
        width: 600px !important;
        height: 650px !important;

        margin: 0 auto !important;
    }
    .DetailText{
        margin-top: 10px !important;
        margin-bottom: 0 !important;
        width: 600px !important;
        margin-left: 0 !important;
    }
    .Selecter{
        width:600px !important;
    }
    .BtnBox{
        margin-bottom: 40px;
    }
    .BtnBox button{
        font-size: 20px;
        height: 70px !important;
    }
}


@media screen and (max-width:600px)
 {

    .DetailBox{
        width: 360px !important;
        margin: 0 auto;
        margin-top: 50px;
        height: 600px;
    }
    .DetailTitle{
        margin-top: 10px;
        border-bottom: 1px solid gray;
    }
    .ClosetName{
        margin: 0 !important;
        margin-bottom: 3px !important;

        margin-top: 5px !important;
    }
    .PP{
        font-size: 14px !important;
    }
    .Price{
        margin: 0 !important;
        margin-top: 15px !important;
        margin-bottom: 15px !important;
    }
    .DetailBox table{
        font-size: 14px;
    }
    .ImgBox{
        width: 360px !important;
        height: 410px !important;

        margin: 0 auto !important;
    }
    .DetailText{
        width: 360px !important;
        margin-left: 0 !important;
    }
    .Selecter{
        width:360px !important;
    }
    .BtnBox{
        margin-bottom: 40px;
    }
    .BtnBox button{
        font-size: 18px;
        height: 60px !important;
    }
}


.DetailPage{
    width: 100%;
}

.DetailBox{
    width: 1000px;
    margin: 0 auto;
    margin-top: 50px;
    height: 600px;
}
.ImgBox{
    float: left;
    width: 500px;
    height: 550px;
    background-color: gray;
}
.ImgBox img{
    width: 100%;
    height: 100%;
}
.DetailText{
    float: left;
    width: 480px;
    margin-left: 20px;
}


.DetailText p{
    /* font-family: 'Pretendard-Regular' !important; */
}
.Gray{
    color:gray;
    font-family: 'Pretendard-Regular' !important;
    font-size: 12px;
    position: relative;
    bottom: 2px;
}
.ClosetName{
    font-family: 'Pretendard-Regular' !important;

    margin-top: 20px;
    margin-bottom: 20px;
}
.Price{
    font-family: 'Pretendard-Regular' !important;
    margin-top: 25px;
    font-size: 18px;
    margin-bottom: 10px;
}
.Nav{
    width: 100%;
    float: left;
}
.Nav p {
    float: left;
    cursor: pointer;
    margin-right: 20px;
    color:gray;
}
.description{
    width: 100%;
    float: left;
    height: 100px;
    margin-top: 10px;
    font-size: 14px;
}
.description p{
    color:black;
    font-family: 'Pretendard-Regular' !important;

}
.delivery{
    margin-top: 10px;
    width: 100%;
    height: 100px;
    float: left;
}
.delivery li{
    font-size: 14px;
    margin-bottom: 5px;
    font-family: 'Pretendard-Regular' !important;
    
     
}
.SizeTable{
    margin-top:0px;
    width: 100%;
    float: left;
}
.SizeTable table {
    border-collapse: collapse;
    border: 1px solid black;
    width: 100%;
    font-family: 'Pretendard-Regular' !important;
}
.SizeTable th {
    border: 1px solid black;
    font-family: 'Pretendard-Regular' !important;
}
.SizeTable td {
    border: 1px solid black;
    font-family: 'Pretendard-Regular' !important;
    text-align: center;
}
.SizeSelect{
    margin-top: 10px;
    float: left;
    width: 100%;
    
}

.SizeSelect option{
    font-family: 'Pretendard-Regular' !important;

}
.PP{
    font-family: 'Pretendard-Regular' !important;
}
.selectedTab{
    color:black !important;
    text-decoration: underline;
}

.TableT{
    font-size: 12px;
    margin-bottom: 5px;
    font-family: 'Pretendard-Regular' !important;
}

.BtnBox{
    width: 100%;

    float: left;
    height: 92px;
    margin-top: 15px;
}
.BtnBox button{
    float: left;
}
.BtnBuy{
    width: 58%;
    height: 100%;
    background-color: black;
    color:white;
    font-size: 30px;
    border: 1px solid black;

    font-weight: bold;
}
.BtnLike{
    width: 20%;
    margin-left: 1%;
    font-size: 30px;
    color:black;
    background-color: white;
    border: 1px solid red;
    height: 100%;
}
.BtnBag{
    width: 20%;
    margin-left: 1%;
    font-size: 30px;
    color:black;
    border: 1px solid black;

    background-color: white;
    height: 100%;
    font-family: 'Pretendard-Regular' !important;

}


.BtnLike2
 {
    background-color: red; /* 좋아요 상태일 때의 배경색 */
    color:White;
  }
  

  .BtnBag2{
    color:white;
    background-color: black; /* 바구니 상태일 때의 배경색 */
    }

.Selecter{
    width: 100%;
    float: left;
}
    .Selecter select{
        height:  25px;
        margin-bottom: 5px;
        width: 100%;
        font-family: 'Pretendard-Regular' !important;

    }
    .Selecter option{
        font-family: 'Pretendard-Regular' !important;

    }


.singleRowTable {
    height: 90px; /* 테이블이 한줄일 때 : FREE 사이즈*/
  }
.singleRowTable table{
    height: 80px;
}
.singleRowTable th{
    height: 30px;
}
  
.DescriptionP{
    line-height: 20px;
}