@media screen and (max-width:1281px) and (min-width:791px){
    .LogoBox{
        width: 5% !important;
    }
    .Logo{
        display: none;
    }
    .MenuBox{
        width: 95% !important;
    }

}
@media screen and (max-width:790px) and (min-width:541px){
    .LogoBox{
        width: 7% !important;
    }
    .Logo{
        display: none;
    }
    .MenuBox{
        width: 93% !important;
    }

}

@media screen and (max-width:540px) and (min-width:451px){
    .LogoBox{
        width: 9% !important;
    }
    .Logo{
        display: none;
    }
    .MenuBox{
        width: 91% !important;
    }

}
@media screen and (max-width:450px) and (min-width:423px){
    .LogoBox{
        width: 11% !important;
    }
    .Logo{
        display: none;
    }
    .MenuBox{
        width: 89% !important;
    }

}
@media screen and (max-width:422px) and (min-width:10px){
    .LogoBox{
        width: 100% !important;
        margin: 0 auto !important;
        height: 30px;
        border-bottom: 1px solid gray !important;


    }
    .Logo{
        
        line-height: 0 !important;
        margin-top: 14.5px;
        font-size: 16px !important;
    }
    .LogoImg{
        width: 16px !important;
        height: 16px !important;
        margin-top:7px !important;
    }

    .MG{
        width: 20%;
        height: 40px;
        margin: 0 auto !important;
    }
    .MenuBox{
        height: 25px;
        width: 100% !important;
        float: left;
    }
    .Menu li{
        line-height: 25px !important;
        font-size: 12px;
        color:gray !important;

    }
    .RMenu li{
        line-height: 25px !important;

        font-size: 12px;
        color:gray !important;
    }


}
/* header 헤더  */

.header{
    width: 100% !important;
    height: 50px;
    position: relative;
    background-color: white;
 
}
.LogoBox{
    cursor: pointer;
    width: 10%;
    float: left;

}
.Logo{
    color:white;
    color:black;
    font-size: 25px;
    text-align: center;
    height: 60px;
    line-height:60px;
    font-weight: bold;
    margin-left: 5px;
    float: left;
}

.LogoImg{
    float: left;
    margin-top:15px;
    width: 30px;
    height: 30px;
    text-align: center;
    margin-left: 15px;
}

.MenuBox{
    line-height: 63px;
    width: 90%;
    float: left;
    font-size: 17px;
    font-weight: bold;
}


.Menu{ 
    width: 50%;
    float: left;
}

.MenuBox li{
    color:white;
    color:black;
    float: left;
    margin-right:0%;
    margin-left: 5%;
}


.RMenu{
    width: 50%;
    float: right;
}
.RMenu li{
    float: right;
    padding: 0;
    margin-right:0%;
    margin-left: 0%;
    cursor: pointer;
}
.Serch{
    margin-right: 2% !important;
}
.SU{
    margin-right: 2% !important;
}


.UN{
    font-family: 'Pretendard-Regular' !important;
    margin-right: 2% !important;
}
