.PostPopUp{
    position: absolute;
    font-family: 'Pretendard-Regular';
    font-size: 12px;
    top: 10%;
    width: 60%;
    left: 20%;
    border: 1px solid gray;
    padding: 10px;
    background-color: white;
    color:gray;
}
.CloseButton{
    font-family: 'Pretendard-Regular';
    width: 100px;
    height: 25px;
    margin-top: 10px;
    background-color: black;
    color:  white;
}